<?xml version="1.0" encoding="UTF-8"?>
<config>
    <common>
        <!-- Where to store the named pipe for the program. The service needs write permissions -->
        <fifoPath>/tmp/servermonitor.fifo</fifoPath>
    </common>
    <email>
        <!-- EMail command -->
        <mailCommand>/usr/sbin/sendmail -t</mailCommand>
        <mailTo>someone@localhost</mailTo>
        <mailFrom>servermonitor@localhost</mailFrom>
        <dataCollectors>
            <!-- Here you can define as much collectors as you want, the informations will be appended to the e-mail -->
            <collector name="free -m" cmd="free -m" />
            <collector name="psCpu" cmd="ps -eo pcpu,pid,user,args | sort -r -k1" />
            <collector name="psMem" cmd="ps -eo pmem,rss,vsize,pid,user,args | sort -r -k1" />
            <collector name="df -m" cmd="df -m" />
        </dataCollectors>
    </email>
    <logger>
        <!-- Where to store the logfiles, the service needs write permissions -->
        <logDir>/tmp/log/servermonitor</logDir>
        <!-- All events with this log level and above will be logged. possible values: debug, info, warn, error -->
        <minLogLevel>debug</minLogLevel>
        <logtimeformat>%F %T</logtimeformat>
    </logger>
    <observer>
        <syshealth>
            <!-- Collects system data and sends it per email -->
            <check>true</check>
            <!-- standard value 7 days == once a week -->
            <pollTime>7</pollTime>
        </syshealth>
        <sysstat>
            <!--  how often to poll memory usage in milliseconds -->
            <pollTime>60000</pollTime>
            <!-- Time to wait in seconds until we send the next mail -->
            <secondsNextMail>3600</secondsNextMail>
            <cpu>
                <!-- check cpu avg load, increase this values if you have more than one cpu/core -->
                <check>true</check>
                <processFilesystem>/proc/loadavg</processFilesystem>
                <avg5threshold>0.5</avg5threshold>
                <avg15threshold>0.8</avg15threshold>
            </cpu>
            <memory>
                <!-- check memory usage -->
                <check>true</check>
                <processFilesystem>/proc/meminfo</processFilesystem>
                <minimumFree>100000</minimumFree>
                <maximumSwap>0</maximumSwap>
                <!-- ServerMonitor stores the last values of free memory specified here and computes the average -->
                <noValuesCompare>20</noValuesCompare>
            </memory>
            <filesystem>
                <check>1</check>
                <!-- define paths you want to check for free disk space -->
                <path name="root" abspath="/" minfree="100" check="1"></path>
            </filesystem>
        </sysstat>
        <applications>
            <!-- check applications in general -->
            <check>true</check>
            <!-- how often to poll if the application/service/daemon is alive -->
            <pollTime>10000</pollTime>
            <!-- Time to wait in seconds until we send the next mail -->
            <secondsNextMail>3600</secondsNextMail>
            <!-- you can define as many applications as you want. don't change the order of the attributes -->
            <!-- name -> name of the process, restart -> restart the application, check -> check if the application is running,
            restartcmd -> the command to restart the application -->
            <sysv>
                <app name="postfix" restart="true" check="1" restartcmd="/etc/init.d/postfix start" />
                <app name="ntpd" restart="false" check="1" restartcmd="/etc/init.d/ntpd start" />
                <app name="apache2" restart="true" check="1" restartcmd="/etc/init.d/apache2 start" />
                <app name="mysqld" restart="true" check="1" restartcmd="/etc/init.d/mysqld start" />
                <app name="sshd" restart="true" check="1" restartcmd="/etc/init.d/ssh start" />
            </sysv>
            <systemd>
                <service name="sshd.service" check="1" />
            </systemd>
        </applications>
    </observer>
</config>
